 @charset "utf-8";
 /* CSS Document */
 
 @import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
 .well {
     background-color: rgba(245, 245, 245, 0.5);
 }
 
 .badge {
     font-size: 30px;
     background-color: rgb(0, 175, 225);
 }
 
 a {
     color: #ccd500;
     text-decoration: none;
 }
 
 a:hover {
     text-decoration: underline;
     color: #a9b119;
 }
 
 .clear {
     clear: both;
 }
 
 html {
     position: relative;
     min-height: 100%;
 }
 
 body {}
 
 b {
     font-weight: 600;
 }
 /* Titulos
-------------------------------------------------------------------------*/
 
 h1 {
     width: 100%;
     font-size: 40px;
     margin-bottom: 25px;
 }
 
 h2 {
     color: #000000;
     display: table-cell;
     float: left;
     font-size: 45px;
     line-height: 40px;
     margin: 0 0 50px;
     text-align: center;
     width: 100%;
     font-weight: 300;
 }
 
 h2 span {
     font-weight: 400;
 }
 
 h3 {
     float: left;
     width: 100%;
     margin: 0 0 20px 0;
     font-size: 40px;
     font-family: 'Lato', 'sans-serif';
     font-weight: 300;
 }
 
 h4 {
     display: table-cell;
     float: left;
     font-size: 35px;
     line-height: 31px;
     margin: 0 0 0;
     text-align: center;
     width: 100%;
     font-weight: 400;
 }
 
 p.title {
     color: #000000;
     display: table-cell;
     float: left;
     font-size: 45px;
     line-height: 40px;
     margin: 0 0 50px;
     text-align: center;
     width: 100%;
     font-weight: 300;
 }
 
 .grey {
     color: #444;
 }
 
 .header-line {
     width: 100%;
     position: absolute;
     height: 10px;
     background-color: #A48E4E;
     top: 0px;
 }
 /*
 * Header
 */
 
 header {
     margin-top: 10px;
     background-color: #DCD293;
     border-bottom: 10px solid #66D4FF;
     border-top: 20px dotted #A48E4E;
     padding: 25px;
 }
 
 header p {
     color: #333;
     font-size: 25px;
     text-align: center;
 }
 
 header a {
     color: #6C5726;
     font-weight: 700;
 }
 /*
 * Airlines
 */
 
 #plane {
     width: 100%;
     position: relative;
     padding: 70px 0px;
     border-bottom: 10px solid #B8312F;
     border-top: 20px dotted #66D4FF;
     height: 400px;
     background-color: rgb(0, 175, 225);
     background-image: url('../img/plane.png');
     background-size: contain;
     background-repeat: no-repeat;
 }
 
 #plane .content {
     float: left;
     font-size: 50px;
     font-weight: 300;
     line-height: 42px;
     margin-top: 30px;
     text-align: center;
     width: 100%;
 }
 
 #plane .content,
 footer .content {
     font-family: 'Pathway Gothic One';
     font-size: 70px;
     font-weight: 300;
     line-height: 80px;
 }
 
 #planeMachine {
     width: 520px;
     height: 67px;
     overflow: hidden;
     display: inline-block;
     text-align: left;
 }
 /*
 * SlotMachine
 */
 
 #randomize {
     height: 100vh;
     border-bottom: 10px solid rgb(72, 158, 48);
     background-color: #EB6B56;
     border-top: 20px dotted #B8312F;
     padding-left: 0px;
 }
 
 #randomize .row>div.col-xs-4 {
     padding-left: 0 px;
 }
 
 #randomize .row>div.col-xs-4>div {
     padding-top: 0px;
     padding-left: 0px;
     width: 500px;
     height: 700px;
     background-color: #fff;
     border-radius: 50%;
     margin: auto;
 }
 
 .randomizeMachine {
     width: 200px;
     height: 200px;
 }
 
 .btn-group-randomize {
     margin: 0 auto;
     margin-top: 30px;
     width: auto;
 }
 
 .btn-group-randomize div {
     width: auto !important;
 }
 /*
 * Footer
 */
 
 footer {
     width: 100%;
     background-color: #6C5726;
     border-top: 20px dotted #A48E4E;
     height: 180px;
     padding-top: 40px;
     text-align: center;
     color: #DCD293;
 }
 
 #textMachine {
     width: 520px;
     height: 67px;
     overflow: hidden;
     display: inline-block;
     text-align: left;
 }
 
 .machineResult {
     color: #fff;
     text-align: center;
     font-weight: 900;
 }
 
 .noBorder {
     border: none !important;
     background: transparent !important;
 }
 
 .slotMachine .slot {
     height: 100px;
     background-position-x: 55%;
     background-repeat: no-repeat;
 }
 
 .slot1 {
     background-image: url("../img/slot1.png");
 }
 
 .slot2 {
     background-image: url("../img/slot2.png");
 }
 
 .slot3 {
     background-image: url("../img/slot3.png");
 }
 
 .slot4 {
     background-image: url("../img/slot4.png");
 }
 
 .slot5 {
     background-image: url("../img/slot5.png");
 }
 
 .slot6 {
     background-image: url("../img/slot6.png");
 }